@font-face {
    font-family: VNM;
    src: url(./VNM-Sans-Display-Regular.otf) format('OpenType');
}
html{
    background-color: #0313b0;
    color: #ffffff;
    font-family: VNM;
    font-size: 25px;
    font-weight: lighter;
    line-height: 100px;
}
#tong{
    text-align: center;
}
#dong1{
    text-align: center;
    margin: 150px 100px 15px 100px;
}
#dong2{
    text-align: center;
    font-size: 100px;
    margin: 10px 70px 0px 70px;
}
.dong31{
    margin: 0px 160px 0px 0px;
}
#icon{
    text-align: center;
    margin: 20px;
    font-size: 25px;
}
#insta{
    margin: 0px 30px;
}
.icon-link {
    color: #ffffff;    
}