*{
    font-family: 'Inter', sans-serif;   
    /* font-family: 'Raleway', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #0563bb;
}

.background{
    position: relative;
    display: inline-block;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 643px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}
.content-page1{
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 20%;
}
.content-page1 > h1{
    font-size: 100px;
    color: rgb(60, 60, 60);
}
.content-page1 > p{
    color: rgb(60, 60, 60);;
    font-size: 30px;
    font-weight: 200;
}
.contactpersonal > a > i{
    font-size: 25px;
    color: rgb(60, 60, 60);
    margin-top: 1em;
    margin-right: 1em;
}

.animation{
    position: absolute;
    bottom: 45px;
    display: inline;
    font-size: 30px;
    width: 200px;
    height: 47px;
    z-index: 1;
    color: rgb(65, 65, 255);
    animation-name: hienchu;
    animation-iteration-count: infinite;
    animation-duration: 1.3s;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

@keyframes hienchu {
    from{
        background-color: rgba(255, 255, 255, 1 );
        /* border: ; */
    }
    to{
        background-color: rgba(255, 255, 255, 1);
        transform: translate(150px);
    }
}

hr {
    width: 10%;
    border: none;
    border-top: 1px solid black;
}
.content_page2{
    display: flex;
    
}
.inhoa{
    font-weight: bold;
}
.distance{
    margin-bottom: 30px;
}
.Row2{
    margin: auto;
    margin-right: 10%;
}
.page2{
    margin: 3em 3em 3em 10em;
}
.page3{
    margin: 5em 3em 3em 10em;
}
.content_page3{
    display: flex;
    justify-content: space-between;
}
/* .icon1{
    justify-content: space-between;
    align-items: center;
} */

.page3iconalign{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 50%;
    align-items: center;
}   

.number_page3{
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}

.page3iconalign > i{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.c1{
    margin-top: 15px;
    margin-left: -10%;
}

.page4{
    margin: 8em 3em 3em 10em;
}

.content-page4{
    display: flex;
}

.flex_chung{
    display: flex;
    margin-bottom: 3%;
    margin-top: 3%;
}

.column2{
    width: 50%;
    margin: auto;
    margin-right: 0;
}
.column1{
    width: 50%;
    margin-right: 10%;
}

.process100, .process80, .process90, .process75, .process55 {
    height: 10px;
    background-color: #ccc;
}

.progress-bar {
    height: 100%;
    background-color: #0563bb;
}

.page5{
    margin: 8em 3em 3em 10em;
}

.page5_row1{
    display: flex;
}

.crossword{
    text-align: center;
    padding: 70px 20px 80px 20px;
    background: #ffffff;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.icon_5 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    margin-bottom: 10%;
}

/* .icon_5 .svg-container {
    position: relative;
} */

.icon_5 > i {
    font-size: 50px;
    color: rgb(60, 60, 60);
    position: relative;
    z-index: 1;
}

.icon_5 .svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
}

.page6{
    margin: 8em 3em 3em 10em;
}

.content-page7{
    display: flex;
}
.row1_icon{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #eef7ff;
    border-radius: 50%;
    justify-content: center;
    color: var(--primary-color);
    margin-right: 20px;
}
.row1_icon > i{
    position: absolute;
    top: 45%;
    right: 28%;
    transform: translate(-50%, -50%);
}

.page6_row1{
    display: flex;
    margin-bottom: 10%;
}

.inhoa1{
    font-weight: 500;
    color: slategray;
    font-size: x-large;
}


.content2{
    margin: auto;
    margin-right: 0;
}
.outside{
    padding: 10px 0 10px 10px; 
    font-size: 16px; 
    border-radius: 5px; 
    margin-right: 20px;
    outline: none;
    appearance: none;
    border: 1px solid #dee2e6;
}

.footer{
    text-align: center;
    padding: 30px 0;
    background-color: #f7f8f9;
}

.name{
    font-size: 36px;
    font-weight: 700;
}

.socia-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.socia-links > a{
    display: block;
    margin-right: 10px;
    font-size: 18px;
    color: white;
    background-color: var(--primary-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
}

.socia-links > a > i{
    position: absolute;
    top: 50%;
    right: auto;
    transform: translate(-50%, -50%);
}

.scroll-to-top {
    position: fixed;
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
    z-index: 999;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    justify-content: center;
}